html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
* {
  box-shadow: none !important;
  box-sizing: border-box;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}
.btn-check:focus + .btn,
.btn:focus {
  box-shadow: none !important;
}
.btn-danger {
  background-color: #a03037 !important;
  border-color: #a03037 !important;
}
.btn-danger:hover {
  background-color: #50181b !important;
  border-color: #50181b !important;
}
.btn {
  border-radius: 0 !important;
  text-transform: uppercase;
}
.card {
  transition: all 0.2s ease-in-out;
}
.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1) !important;
}
.is-out-of-stock {
  background-color: #f5f5f5 !important;
  border-color: #f5f5f5 !important;
}
